<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaVenta.My.MySettings.TiendaRopaConnectionString"
            connectionString="Data Source=DESKTOP-NC9ERBN;Initial Catalog=TiendaRopa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Conexion"
            connectionString="Data Source=DESKTOP-NC9ERBN;Initial Catalog=SistemaRopa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>